/* ===== Custom CSS Reset ===== */
body, header, nav, main, footer, h1, h2, h3, div, img, ul, li, p, table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #000;
}

img {
    max-width: 100%;
    display: block;
}

.tribe-img {
    width: 100%;
    max-width: 600px;
    height: 300px;
    object-fit: cover; 
    display: block;
    margin: 1em 0;
}

.half-size {
    width: 50%;
    height: auto;
}

header {
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    height:180px;
    background-color: black;
}

header img {
    margin: 0 auto;
    width: 35%;
    height: 100%;
    object-fit: cover;
    display: block;
}

header h1 {
    margin-left: 50px;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.20em;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child{
    border-top: none;
}

nav li a {
    display: block;
    color: #33ccff;
    padding: 0.5em 1em;
    text-decoration: none;
}

.mobile {
    display:block;
}

.tablet-desktop {
    display:none;
}

main{
    clear: left;
    background-color: #000000;
    padding: 2%;
    font-size: 1.25em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ff9933;
}

main h1 {
    color: #fff;
    text-decoration: underline;
}

h2 {
    color: #00cc00;
}

h3 {
    color:#cc0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-family: "Georgia", "Times New Roman", serif;
    background: #0f0f12; 
    color: #e6e6e6; 
    border: 1px solid #4b4b57;
    box-shadow: 0 0 15px rgba(150, 150, 255, 0.2); 
    border-radius: 6px;
    overflow: hidden;
}

thead th {
    background: linear-gradient(#1d1d22, #0f0f12);
    color: #dcdcff; 
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px;
    border-bottom: 2px solid #7a7acb; 
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #2c2c33;
}

tbody tr:hover {
    background: #1b1b22;
    box-shadow: inset 0 0 8px rgba(120, 120, 220, 0.3);
    transition: 0.2s;
}

tbody tr:nth-child(even) {
    background: #141418;
}

td, th {
    text-align: left;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color:#fff;
    text-decoration: none;
}

@media screen and (min-width: 630px) {
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display:none;
    }

    header {
        position:static;
        padding-bottom: 2%;
    }

    nav li {
        border-top:none;
        display:inline-block;
        border-right:1px solid #fff
    }

    nav li a {
        padding: 0.1em 0.75em;
    }
}