/* ===== Custom CSS Reset ===== */
body, header, nav, main, footer, h1, h2, h3, div, img, ul, li, p, table, th, td, iframe {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #000;
}

img, iframe {
    max-width: 100%;
    display: block;
}

iframe {
    margin: 0 auto 4%;
}

.tribe-img {
    width: 100%;
    max-width: 600px;
    height: 300px;
    object-fit: cover; 
    display: block;
    margin: 1em 0;
}

.half-size {
    width: 50%;
    height: auto;
}

header {
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    height:180px;
    background-color: black;
}

header img {
    margin: 0 auto;
    width: 35%;
    height: 100;
    object-fit: contain;
    display: block;
}

header h1 {
    margin-left: 50px;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.20em;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child{
    border-top: none;
}

nav li a {
    display: block;
    color: #33ccff;
    padding: 0.5em 1em;
    text-decoration: none;
}

.mobile {
    display:block;
}

.tablet-desktop {
    display:none;
}

main{
    clear: left;
    background-color: #000000;
    padding: 2%;
    font-size: 1.25em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ff9933;
}

main h1 {
    color: #fff;
    text-decoration: underline;
}

h2 {
    color: #00cc00;
}

h3 {
    color:#cc0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-family: "Georgia", "Times New Roman", serif;
    background: #000000; 
    color: #ff9933; 
    border: 1px solid #333;
    border-radius: 6px;
    overflow: hidden;
}

thead th {
    background: #111111;
    color: #00cc00;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px;
    border-bottom: 2px solid #33ccff;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #222;
}

tbody tr:nth-child(even) {
    background: #111;
}

td, th {
    text-align: left;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color:#fff;
    text-decoration: none;
}

#lore-form {
    background-color: #111;
    color: #ff9933;
    padding: 2%;
    margin: 2% 0;
    border: 2px solid #33ccff;
    border-radius: 8px;
}

#lore-form h2 {
    color: #00cc00;
    margin-bottom: 1em;
}

#contribution-form label {
    display: block;
    margin: 0.5em 0 0.2em;
    font-weight: bold;
    color: #ff9933;
}

#contribution-form input,
#contribution-form textarea {
    width: 90%;
    padding: 0.5em;
    background-color: #222;
    color: #ff9933;
    border: 1px solid #33ccff;
    border-radius: 4px;
    margin-bottom: 1em;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 1em;
}

#contribution-form input:focus,
#contribution-form textarea:focus {
    outline: none;
    border-color: #00cc00;
    box-shadow: 0 0 5px #00cc00;
}

#contribution-form button {
    background-color: #33ccff;
    color: #000;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

#contribution-form button:hover {
    background-color: #00cc00;
    color: #fff;
}

@media screen and (max-width: 630px) {
    header img {
        width: 100%;
        height: auto;
    }

    .tablet-desktop {
        display: block;
    }

    .mobile {
        display:none;
    }

    header {
        position:static;
        padding-bottom: 2%;
    }

    nav li {
        border-top:none;
        display:inline-block;
        border-right:1px solid #fff
    }

    nav li a {
        padding: 0.1em 0.75em;
    }

    form label, form input, form textarea, form button {
        display: block;
        width: 100;
    }
    
    form input, form textarea {
        margin-bottom: 1em;
    }
    
    form button {
        margin-top: 0.5em;
    }
}